.react-joyride__spotlight {
    /* background-color: var(--pg-walkthrough-spotlight-bg-clr) !important; */
    background-color: transparent !important;
    opacity: 0.5 !important;
}

.react-joyride__tooltip {
    color: var(--pg-walkthrough-txt-clr) !important;
    font-size: var(--font-size-14) !important;
}

.react-joyride__tooltip button {
    color: var(--pg-walkthrough-btn-bg-clr) !important;
    font-size: var(--font-size-12) !important;
}

/*data-action= primary,back,skip*/
.react-joyride__tooltip button[data-action="primary"] {
    color: var(--pg-walkthrough-btn-txt-clr) !important;
    background-color: var(--pg-walkthrough-btn-bg-clr) !important;
}

.react-joyride__tooltip button:hover {
    opacity: 0.9;
}