.pg-sidebar {
  display: flex;
  flex-direction: column;

  width: var(--pg-sidebar-width);
  padding: var(--space-24) 0 var(--space-16) 0;
  background-color: var(--pg-sidebar-bg-clr);
  color: var(--pg-sidebar-txt-clr);
  box-shadow: 0 var(--shadow-size-1) var(--shadow-size-1)
    var(--pg-sidebar-shadow-clr);
  box-sizing: border-box;

  .pg-list {
    margin-bottom: var(--space-24);
    padding-bottom: var(--space-8);
  }

  .pg-list-title {
    font-size: var(--font-size-14);
    color: var(--pg-sidebar-header-txt-clr);
    margin-bottom: var(--space-8);
    padding: 0 var(--space-8);
    position: sticky;
    top: 0;
    background-color: var(--pg-sidebar-bg-clr);
    z-index: 1;
  }

  .pg-list-item {
    display: flex;
    padding: var(--space-8);
    cursor: pointer;
    &:hover {
      background-color: var(--pg-sidebar-item-hover-bg-clr) !important;
    }
  }

  .pg-list-item-icon {
    color: var(--pg-sidebar-txt-clr);
    min-width: 20px;
    margin-right: var(--space-4);
  }

  .pg-list-item-label {
    flex-grow: 1;
    padding-left: var(--space-4);
    color: var(--pg-sidebar-txt-clr);
  }

  .pg-list-item-active {
    background-color: var(--pg-sidebar-item-active-bg-clr) !important;
  }

  .pg-query-category {
    flex-grow: 1;
    overflow-y: auto;
    /*trigger scrollbar*/
    height: 100px;
    position: relative;
  }
  .pg-query-category.has-overflow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 6px; /* scrollbar width */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* light scrollbar track */
    pointer-events: none;
  }

  .pg-links {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none;
  }
}
