.pg-sidebar {
    display: flex;
    flex-direction: column;

    width: var(--pg-sidebar-width);
    padding: var(--space-8);
    background-color: var(--pg-sidebar-bg-clr);
    color: var(--pg-sidebar-txt-clr);

    .pg-list {
        margin-bottom: var(--space-32);
    }

    .pg-list-title {
        font-size: var(--font-size-14);
        color: var(--pg-sidebar-header-txt-clr);
        margin-bottom: var(--space-16);
    }

    .pg-list-item {
        display: flex;
        cursor: pointer;
        margin-bottom: var(--space-12);

        /*for colored hover effect*/
        padding-bottom: var(--space-2);
        background-color: transparent;
    }

    .pg-list-item:hover {
        background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    }

    .pg-list-item-icon {
        background-color: var(--pg-sidebar-bg-clr);
        color: var(--pg-sidebar-txt-clr);
    }

    .pg-list-item-label {
        flex-grow: 1;
        padding: 0 var(--space-8) var(--space-4) var(--space-8);
        background-color: var(--pg-sidebar-bg-clr);
        color: var(--pg-sidebar-txt-clr);
    }

    .pg-list-item-active div {
        color: var(--pg-sidebar-header-txt-clr) !important;
    }

    .pg-query-category {
        flex-grow: 1;
        overflow-y: auto;
        /*trigger scrollbar*/
        height: 100px;
    }


    .pg-links {
        margin-bottom: 0 !important;
    }

}