.comp-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-6);
  border-radius: var(--radius-4);
  cursor: pointer;
}

.comp-icon-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}

.comp-icon-button.regular {
  background-color: var(--comp-icon-button-bg-clr);
  color: var(--comp-icon-button-txt-clr);
  border: 1px solid var(--comp-icon-button-border-clr);

  .icon {
    color: var(--comp-icon-button-icon-clr);
  }

  .default-image {
    display: block;
  }

  .hover-image {
    display: none;
  }

  &:hover {
    color: var(--comp-icon-button-hover-bg-clr);
    border: 1px solid var(--comp-icon-button-hover-bg-clr);

    i {
      color: var(--comp-icon-button-hover-bg-clr) !important;
    }

    .default-image {
      display: none;
    }

    .hover-image {
      display: block;
    }
  }
}

.comp-icon-button.success {
  background-color: var(--comp-icon-success-button-bg-clr);
  color: var(--comp-icon-success-button-txt-clr);
  border: 1px solid var(--comp-icon-success-button-border-clr);

  i {
    color: var(--comp-icon-success-button-icon-clr) !important;
  }

  &:hover {
    background-color: var(--comp-icon-button-hover-bg-clr);
  }
}

.comp-icon-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
