.comp-tooltip-icon {
  font-size: var(--font-size-14);
}

.comp-custom-tooltip {
  color: var(--comp-tooltip-txt-clr) !important;
  background-color: var(--comp-tooltip-bg-clr) !important;
  border-radius: var(--radius-12) !important;
  font-size: var(--font-size-12) !important;
  font-weight: 700 !important;
  z-index: 1000 !important;
}
