.comp-tooltip-icon {
  font-size: var(--font-size-14);
}

.comp-custom-tooltip {
  color: var(--comp-tooltip-txt-clr) !important;
  background-color: var(--comp-tooltip-bg-clr) !important;
  border-radius: var(--radius-12) !important;
  border: 1px solid var(--comp-tooltip-border-clr) !important;
  font-size: var(--font-size-12) !important;
  z-index: 1000 !important;
}

.comp-custom-tooltip-arrow {
  border-bottom: 1px solid var(--comp-tooltip-border-clr) !important;
  border-right: 1px solid var(--comp-tooltip-border-clr) !important;
}

.comp-tooltip-icon-img {
  position: relative;
}
