   .comp-code-mirror {
       flex-grow: 1;
       display: flex;
       overflow: auto;
       box-sizing: border-box;
       height: 100px;

       .cm-editor {
           flex-grow: 1;
           background-color: #111111;
       }

       .cm-gutters {
           background-color: #202020;
       }
   }