   .comp-code-mirror {
       flex-grow: 1;
       box-sizing: border-box;
       overflow: auto;

       .cm-editor {
           background-color: var(--comp-code-mirror-bg-clr);
           height: 100%;
           width: 100%;
       }

       .cm-gutters {
           background-color: var(--comp-code-mirror-gutter-bg-clr);
       }
   }

   .comp-code-mirror.disabled {
       .cm-editor {
           background-color: var(--comp-code-mirror-disabled-bg-clr);
           cursor: no-drop;

           .cm-activeLine {
               background-color: transparent;
           }
       }
   }