.pg-main-header-container {
    background-color: var(--pg-main-header-bg-clr);
    color: var(--pg-main-header-txt-clr);
}

.pg-main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-8);

    .header-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: var(--font-size-18);
    }

    .header-query-list {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }


}