.pg-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-8);
    background-color: var(--pg-main-header-bg-clr);
    color: var(--pg-main-header-txt-clr);

    .header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: var(--font-size-18);
    }

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header-run-btn {
        background-color: var(--pg-main-header-run-btn-bg-clr);
        color: var(--pg-main-header-run-btn-txt-clr);
        border: 1px solid var(--pg-main-header-run-btn-border-clr);

        i {
            color: var(--pg-main-header-run-btn-icon-clr);
        }
    }
}