.pg-card-panel {
    flex-grow: 1;
    max-width: 100vw;
    max-height: 100vh;

    .pg-card-panel-item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .resize-handle {
        flex: 0 0 var(--space-2);
        background-color: var(--pg-card-panel-resize-handle-bg-clr);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s;
        position: relative;
    }

    .resize-handle[data-resize-handle-active] {
        background-color: var(--pg-card-panel-resize-handle-bg-clr);
    }

    .resize-handle-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    [data-panel-group-direction="vertical"]>.resize-handle {
        height: var(--space-2);
        cursor: row-resize;
    }

    [data-panel-group-direction="horizontal"]>.resize-handle {
        width: var(--space-2);
        cursor: col-resize;
    }
}