.pg-card-panel {
  flex-grow: 1;
  max-width: calc(100vw - var(--pg-sidebar-width));
  max-height: 100vh;

  .pg-card-panel-item {
    width: calc(100% - (2 * (var(--space-12))));
    height: calc(100% - (2 * (var(--space-12))));
    margin: var(--space-12);
    border-radius: var(--radius-8);
    box-shadow: 0 0 var(--shadow-size-1) var(--pg-card-panel-box-shadow-clr);
    overflow: hidden;
    box-sizing: border-box;
  }

  .resize-handle {
    flex: 0 0 var(--space-2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    position: relative;
  }

  .resize-handle[data-resize-handle-active] {
    background-color: var(--pg-card-panel-resize-handle-bg-clr);
  }

  .resize-handle-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  [data-panel-group-direction="vertical"] > .resize-handle {
    height: var(--space-2);
    cursor: row-resize;
  }

  [data-panel-group-direction="horizontal"] > .resize-handle {
    width: var(--space-2);
    cursor: col-resize;
  }

  &:hover {
    .resize-handle {
      background-color: var(--pg-card-panel-resize-handle-bg-clr);
    }
  }
}
