.pg-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--space-8);
  background-color: var(--pg-card-header-bg-clr);
  color: var(--pg-card-header-txt-clr);

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-size-14);
    color: var(--pg-card-header-title-txt-clr);
  }

  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  i {
    cursor: pointer;
    color: var(--pg-card-header-icon-clr);
    width: 1.25rem;
    height: 1.25rem;
  }
}
