.pg-result-card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: var(--pg-result-bg-clr);

    .pg-result-card-content {
        flex-grow: 1;
        overflow: auto;
        display: none;
        flex-direction: column;
    }

    .pg-result-error-container {
        flex-grow: 1;
        overflow: auto;
        padding: var(--space-12);
        color: var(--pg-result-error-txt-clr);

        .pg-result-error-title {
            font-size: var(--font-size-14);
            margin-bottom: var(--space-12);
        }

    }

    .show-view {
        display: flex !important;
    }
}