/*Redis Core Colors*/
:root {
  /* Hyper Scale */
  --hyper-base: #ff4438;
  --hyper-01: #fff3f2;
  --hyper-02: #ffdad8;
  --hyper-03: #ffaca7;
  --hyper-04: #fd736a;
  /* Same as base */
  --hyper-05: #ff4438;
  /* Deep Hyper */
  --hyper-06: #eb352a;
  --hyper-07: #e4291e;
  --hyper-08: #d1281e;
  --hyper-09: #8a221c;

  /* Red Scale */
  --red-100: #feedee;
  --red-200: #e9e9e9;
  --red-300: #fcb7bc;
  --red-400: #f74b57;
  --red-500: #ad353d;
  --red-600: #631e23;
  --red-700: #310f11;

  --white-base: #ffffff;

  /* Grayscale */
  --gray-01: #f8f8f8;
  --gray-02: #e6e6e6;
  --gray-03: #d1d3d4;
  --gray-04: #bcbec0;
  --gray-05: #a7a9ac;
  --gray-06: #939598;
  --gray-07: #6d6e71;
  --gray-08: #58595b;
  --gray-09: #414042;

  /* Black Scale */
  --black-00: #2c2c2c;
  --black-01: #282828;
  --black-02: #000000;

  /* Dusk Base and Extended */
  --dusk-base: #163341;
  --dusk-01: #f3f3f3;
  --dusk-02: #e9e9e9;
  --dusk-03: #d9d9d9;
  --dusk-04: #b9c2c6;
  --dusk-05: #8a99a0;
  --dusk-06: #5c707a;
  --dusk-07: #2d4754;
  --dusk-08: #163341;
  --midnight-base: #091a23;

  /* Purple Base and Extended */
  --purple-base: #c795e3;
  --purple-01: #f9f4fc;
  --purple-02: #f1e5fa;
  --purple-03: #e3caf1;
  --purple-04: #c795e3;
  --purple-05: #b76be2;
  --purple-06: #9c42ce;
  --purple-07: #8f2ec4;
  --purple-08: #7c1ab3;
  --purple-09: #592479;

  /* Purple Scale */
  --purple-100: #f1edfc;
  --purple-200: #c8b5f2;
  --purple-300: #9e7ee8;
  --purple-400: #7547de;
  --purple-500: #52329b;
  --purple-600: #2f1c59;
  --purple-700: #170e2c;

  /* Yellow Base and Extended */
  --yellow-base: #ebff38;
  --yellow-01: #fefff5;
  --yellow-02: #fcffe1;
  --yellow-03: #f7ffaf;
  --yellow-04: #f3ff88;
  --yellow-05: #ebff38;
  --yellow-06: #d0f41d;
  --yellow-07: #bfe112;
  --yellow-08: #a9ca03;
  --yellow-09: #8caa00;

  /* Sky Blue Base and Extended */
  --sky-blue-base: #3dd6f5;
  --sky-blue-01: #f2fbff;
  --sky-blue-02: #bfedff;
  --sky-blue-03: #80dbff;
  --sky-blue-04: #5ed1ff;
  --sky-blue-05: #33c2fb;
  --sky-blue-06: #25b5ee;
  --sky-blue-07: #0f9fd9;
  --sky-blue-08: #0e8ec0;
  --sky-blue-09: #0477a5;

  /* Teal Scale */
  --teal-100: #edfbfc;
  --teal-200: #b9f0f3;
  --teal-300: #83e5e8; //#FFACA7
  --teal-400: #84e5e9;
  --teal-500: #37999d;
  --teal-600: #20575a;
  --teal-700: #102c2d;

  /* Green Scale */
  --green-100: #eff9f5;
  --green-200: #fcffe1;
  --green-300: #bde8d7;
  --green-400: #5bc69b;
  --green-500: #3a8365;
  --green-600: #244f3e;
  --green-700: #12281f;

  /* Orange Scale */
  --orange-100: #fff7ea;
  --orange-200: #ffdfaa;
  --orange-300: #ffc76b;
  --orange-400: #ffaf2b;
  --orange-500: #b37a1e;
  --orange-600: #664611;
  --orange-700: #332309;
}
