.theme-custom-component {
  /* Base colors */
  --color-black: #111111;
  --color-black-gray: #1d1d1d;
  --color-black-gray-light1: #202020;
  --color-black-gray-light2: #252525;
  --color-black-gray-light3: #2a2a2a;
  --color-black-gray-light4: #333333;
  --color-gray: #5c6d75;
  --color-white: #ffffff;
  --color-white-gray: #bdc3d7;

  --color-success-green: #237a40;
  --color-success-green-light: #c0fae6;
  --color-error-red: #fe4336;
  --color-btn-border: #ccc;

  --color-primary: #0e1633;
  --color-primary-light1: #181d35;
  --color-primary-light2: #1a2139;
  --color-primary-light3: #1a202c;
  --color-primary-light4: #212536;
  --color-primary-light5: #242c47;
  --color-primary-light7: #8ba2ff;

  --color-loader-gradient1: #44ce7b;
  --color-loader-gradient2: #a767e5;

  /*Component colors*/
  --comp-code-mirror-bg-clr: var(--color-black);
  --comp-code-mirror-gutter-bg-clr: var(--color-black-gray-light1);
  --comp-code-mirror-disabled-bg-clr: var(--color-black-gray);

  --comp-icon-button-bg-clr: var(--color-primary-light7);
  --comp-icon-button-txt-clr: var(--color-black);
  --comp-icon-button-icon-clr: var(--color-black);
  --comp-icon-button-border-clr: var(--color-btn-border);
  --comp-icon-success-button-bg-clr: var(--color-success-green);
  --comp-icon-success-button-txt-clr: var(--color-white);
  --comp-icon-success-button-icon-clr: var(--color-success-green-light);
  --comp-icon-success-button-border-clr: var(--color-btn-border);

  --comp-loader-bg-clr: var(--color-primary-light7);
  --comp-loader-gradient1: var(--color-loader-gradient1);
  --comp-loader-gradient2: var(--color-loader-gradient2);

  --comp-modal-popup-bg-clr: var(--color-primary);
  --comp-modal-popup-txt-clr: var(--color-white-gray);

  --comp-tooltip-bg-clr: var(--color-white-gray);
  --comp-tooltip-txt-clr: var(--color-primary-light4);

  --pg-main-header-bg-clr: var(--color-primary);
  --pg-main-header-txt-clr: var(--color-white-gray);

  --pg-card-header-bg-clr: var(--color-primary-light4);
  --pg-card-header-txt-clr: var(--color-white-gray);
  --pg-card-footer-bg-clr: var(--color-primary-light4);
  --pg-card-footer-txt-clr: var(--color-white-gray);

  --pg-result-bg-clr: var(--color-black-gray);
  --pg-result-table-border-clr: var(--color-black-gray-light4);
  --pg-result-table-header-bg-clr: var(--color-primary-light3);
  --pg-result-table-header-txt-clr: var(--color-white-gray);
  --pg-result-table-row-bg-even-clr: var(--color-black-gray-light2);
  --pg-result-table-row-bg-odd-clr: var(--color-black-gray);
  --pg-result-table-row-bg-hover-clr: var(--color-black-gray-light3);
  --pg-result-table-row-txt-clr: var(--color-white);

  --pg-result-error-txt-clr: var(--color-error-red);

  --pg-card-panel-resize-handle-bg-clr: var(--color-gray);

  --pg-query-template-bg-clr: var(--color-primary-light5);
  --pg-query-template-txt-clr: var(--color-white-gray);
  --pg-query-template-label-bg-clr: var(--color-primary-light1);
  --pg-query-template-description-bg-clr: var(--color-primary);
  --pg-query-template-description-txt-clr: var(--color-white);

  --pg-sidebar-bg-clr: var(--color-primary-light2);
  --pg-sidebar-txt-clr: var(--color-white-gray);
  --pg-sidebar-header-txt-clr: var(--color-primary-light7);
}
