.theme-redis {
  /* Core color palette */
  --color-brand-primary: #e4291e;
  --color-brand-hover: #8a221c;
  --color-brand-active: #d1281e;

  /* Neutral colors */
  --color-black-base: #111111;
  --color-black-gray-base: #1d1d1d;
  --color-black-gray-100: #202020;
  --color-black-gray-200: #252525;
  --color-black-gray-300: #2a2a2a;
  --color-black-gray-400: #333333;

  --color-white-base: #ffffff;
  --color-white-gray: #bdc3d7;
  --color-gray-base: #5c6d75;
  --color-slate-dark: #2d4754;

  /* Semantic colors */
  --color-success: #237a40;
  --color-success-light: #c0fae6;
  --color-error: #fe4336;

  /* UI Element colors */
  --color-border-base: #e6e6e6; /*d9d9d9*/
  --color-shadow-base: #d1d3d4;
  --color-resize-handle: #bcbec0;

  /* Button colors */
  --color-btn-border: #ccc;
  --color-btn-default: var(--color-brand-primary);
  --color-btn-hover: var(--color-brand-hover);
  --color-btn-active: var(--color-brand-active);

  /* Primary theme colors */
  --color-primary: var(--color-white-base);
  --color-primary-txt: #091a23;
  --color-primary-light1: #f8f8f8;
  --color-primary-light2: #e6e6e6;
  --color-primary-light3: var(--color-shadow-base);
  --color-primary-light4: #a7a9ac;
  --color-primary-light5: #f4f6f7;
  --color-primary-light7: var(--color-gray-base);

  /* Loader colors */
  --color-loader-gradient1: #44ce7b;
  --color-loader-gradient2: #a767e5;

  /*Component colors*/
  --comp-code-mirror-bg-clr: var(--color-primary-light1);
  --comp-code-mirror-gutter-bg-clr: var(--color-primary);
  --comp-code-mirror-disabled-bg-clr: var(--color-primary-light1);
  --comp-code-mirror-border-clr: var(--color-border-base);
  --comp-code-mirror-active-line-bg-clr: var(--color-primary-light2);
  --comp-code-mirror-active-gutter-txt-clr: var(--color-gray-base);

  --comp-icon-button-bg-clr: var(--color-primary);
  --comp-icon-button-txt-clr: var(--color-btn-default);
  --comp-icon-button-icon-clr: var(--color-btn-default);
  --comp-icon-button-border-clr: var(--color-btn-default);
  --comp-icon-success-button-bg-clr: var(--color-btn-default);
  --comp-icon-success-button-txt-clr: var(--color-primary);
  --comp-icon-success-button-icon-clr: var(--color-primary);
  --comp-icon-success-button-border-clr: var(--color-primary);
  --comp-icon-button-hover-bg-clr: var(--color-btn-hover);
  --comp-icon-button-active-bg-clr: var(--color-btn-active);

  --comp-loader-bg-clr: var(--color-primary-light7);
  --comp-loader-gradient1: var(--color-loader-gradient1);
  --comp-loader-gradient2: var(--color-loader-gradient2);

  --comp-modal-popup-bg-clr: var(--color-primary-light5);
  --comp-modal-popup-txt-clr: var(--color-white-gray);
  --comp-modal-popup-close-txt-clr: var(--color-primary-light7);

  --comp-tooltip-bg-clr: var(--color-slate-dark);
  --comp-tooltip-txt-clr: var(--color-white-base);

  --pg-main-header-bg-clr: var(--color-primary);
  --pg-main-header-txt-clr: var(--color-primary-txt);
  --pg-main-header-box-shadow-clr: var(--color-shadow-base);

  --pg-card-header-bg-clr: var(--color-primary);
  --pg-card-header-txt-clr: var(--color-primary-txt);
  --pg-card-header-icon-clr: var(--color-slate-dark);
  --pg-card-footer-bg-clr: var(--color-primary);
  --pg-card-footer-txt-clr: var(--color-primary-txt);

  --pg-result-bg-clr: var(--color-border-base);
  --pg-result-table-border-clr: var(--color-shadow-base);
  --pg-result-table-header-bg-clr: var(--color-border-base);
  --pg-result-table-header-txt-clr: var(--color-primary-txt);
  --pg-result-table-row-bg-even-clr: var(--color-primary-light1);
  --pg-result-table-row-bg-odd-clr: var(--color-white-base);
  --pg-result-table-row-bg-hover-clr: var(--color-primary-light4);
  --pg-result-table-row-txt-clr: var(--color-primary-txt);

  --pg-result-error-txt-clr: var(--color-error-red);

  --pg-card-panel-resize-handle-bg-clr: var(--color-resize-handle);
  --pg-card-panel-box-shadow-clr: var(--color-shadow-base);

  --pg-query-template-bg-clr: var(--color-primary-light2);
  --pg-query-template-txt-clr: var(--color-primary-txt);
  --pg-query-template-item-bg-clr: var(--color-primary);
  --pg-query-template-item-txt-clr: var(--color-primary-txt);
  --pg-query-template-item-border-clr: var(--color-primary-light3);
  --pg-query-template-item-hover-border-clr: var(--color-primary-light4);

  --pg-sidebar-bg-clr: var(--color-primary);
  --pg-sidebar-txt-clr: var(--color-primary-txt);
  --pg-sidebar-header-txt-clr: var(--color-primary-txt);
  --pg-sidebar-shadow-clr: var(--color-shadow-base);
  --pg-sidebar-border-clr: var(--color-border-base);
  --pg-sidebar-item-hover-bg-clr: var(--color-primary-light3);
  --pg-sidebar-item-active-bg-clr: var(--color-primary-light2);

  --pg-walkthrough-txt-clr: var(--color-primary-txt);

  --pg-container-bg-clr: var(--color-primary-light5);
  --pg-container-txt-clr: var(--color-primary-txt);
}
