.theme-redis {
  /*Component colors*/
  --comp-code-mirror-bg-clr: var(--white-base);
  --comp-code-mirror-gutter-bg-clr: var(--white-base);
  --comp-code-mirror-gutter-txt-clr: var(--gray-05);
  --comp-code-mirror-disabled-bg-clr: var(--white-base);
  --comp-code-mirror-border-clr: var(--gray-02);
  --comp-code-mirror-active-line-bg-clr: var(--gray-02);
  --comp-code-mirror-active-gutter-txt-clr: var(--gray-07);

  --comp-icon-button-bg-clr: var(--white-base);
  --comp-icon-button-txt-clr: var(--hyper-07);
  --comp-icon-button-icon-clr: var(--hyper-07);
  --comp-icon-button-border-clr: var(--hyper-07);
  --comp-icon-success-button-bg-clr: var(--hyper-07);
  --comp-icon-success-button-txt-clr: var(--white-base);
  --comp-icon-success-button-icon-clr: var(--white-base);
  --comp-icon-success-button-border-clr: var(--white-base);
  --comp-icon-button-hover-bg-clr: var(--hyper-09);
  --comp-icon-button-active-bg-clr: var(--hyper-08);

  --comp-loader-bg-clr: var(--dusk-06);
  --comp-loader-gradient1: var(--green-400);
  --comp-loader-gradient2: var(--purple-06);

  --comp-modal-popup-bg-clr: var(--dusk-01);
  --comp-modal-popup-txt-clr: var(--dusk-04);
  --comp-modal-popup-close-txt-clr: var(--dusk-06);

  --comp-tooltip-bg-clr: var(--dusk-07);
  --comp-tooltip-txt-clr: var(--white-base);

  --pg-main-header-bg-clr: var(--white-base);
  --pg-main-header-txt-clr: var(--midnight-base);
  --pg-main-header-box-shadow-clr: var(--gray-03);

  --pg-card-header-bg-clr: var(--white-base);
  --pg-card-header-txt-clr: var(--midnight-base);
  --pg-card-header-title-txt-clr: var(--dusk-07);
  --pg-card-header-icon-clr: var(--dusk-07);
  --pg-card-footer-bg-clr: var(--white-base);
  --pg-card-footer-txt-clr: var(--dusk-07);
  --pg-card-footer-border-clr: var(--gray-02);

  --pg-result-table-border-clr: var(--gray-02);
  --pg-result-table-header-border-clr: var(--gray-03);
  --pg-result-table-header-bg-clr: var(--gray-02);
  --pg-result-table-row-bg-hover-clr: var(--gray-03);
  // --pg-result-bg-clr: var(--some-color);
  // --pg-result-table-header-txt-clr: var(--some-color);
  // --pg-result-table-row-bg-even-clr: var(--some-color);
  // --pg-result-table-row-bg-odd-clr: var(--some-color);
  // --pg-result-table-row-txt-clr: var(--some-color);

  --pg-result-error-txt-clr: var(--hyper-05);

  --pg-card-panel-resize-handle-bg-clr: var(--gray-04);
  --pg-card-panel-box-shadow-clr: var(--gray-03);

  --pg-query-template-bg-clr: var(--gray-02);
  --pg-query-template-txt-clr: var(--midnight-base);
  --pg-query-template-item-bg-clr: var(--white-base);
  --pg-query-template-item-txt-clr: var(--midnight-base);
  --pg-query-template-item-border-clr: var(--gray-03);
  --pg-query-template-item-hover-border-clr: var(--gray-05);

  --pg-sidebar-bg-clr: var(--white-base);
  --pg-sidebar-txt-clr: var(--midnight-base);
  --pg-sidebar-header-txt-clr: var(--midnight-base);
  --pg-sidebar-shadow-clr: var(--gray-03);
  --pg-sidebar-item-hover-bg-clr: var(--gray-03);
  --pg-sidebar-item-active-bg-clr: var(--gray-02);

  --pg-walkthrough-txt-clr: var(--midnight-base);

  --pg-container-bg-clr: var(--white-base);
  --pg-container-txt-clr: var(--midnight-base);
}
