/* Space Grotesk Variable Font */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

/* static fonts are fallbacks for specific weights    */
/* Space Grotesk Light */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Space Grotesk Regular */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Space Grotesk Medium */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Space Grotesk SemiBold */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/static/SpaceGrotesk-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Space Grotesk Bold */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/static/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}



/*--------*/
.font-thin {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
}

.font-thin-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.font-light {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

.font-light-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.font-regular {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.font-regular-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font-medium {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.font-medium-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.font-semibold {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.font-semibold-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.font-bold {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

.font-bold-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.font-black {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
}

.font-black-italic {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/*----------*/

/* Default root font size */
html {
    font-size: 16px;
    /* This makes 1rem = 16px */
}


/* Media Query for tablets */
@media (min-width: 640px) {
    html {
        font-size: 17px;
    }
}

/* Media Query for desktop */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Media Query for large desktop */
@media (min-width: 1024px) {
    html {
        font-size: 17px;
    }
}

/* Media Query for extra large screens */
/* @media (min-width: 1280px) {
    html {
        font-size: 20px;
    }
} */

@media (min-width: 1536px) {
    html {
        font-size: 22px;
    }
}