.pg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #0e1633;
    color: #bdc3d7;
    /*#eaeaeb;*/

    .pg-header-title {
        font-size: var(--font-size-18);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .pg-header-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .pg-header-run-btn {
        background-color: #237a40;
        color: #ffffff;

        i {
            color: #c0fae6;
        }
    }
}