.pg-query-template {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .pg-query-template-header {
    padding: var(--space-12);

    .pg-query-template-header-title {
      font-size: var(--font-size-20);
      color: var(--pg-query-template-txt-clr);
    }
  }
  .pg-query-template-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;

    background-color: var(--pg-query-template-bg-clr);
    color: var(--pg-query-template-txt-clr);

    .query-sidebar {
      min-width: 300px;
      padding: var(--space-48) var(--space-48) 0 var(--space-16);

      display: flex;
      flex-direction: column;

      .query-search-bar-container {
        display: flex;
        padding: var(--space-32) 0;

        .query-search-bar {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          padding: var(--space-4) var(--space-8);
          border-radius: var(--radius-4);

          .query-search-input {
            border: none;
            outline: none;
            width: 100%;
            min-height: 40px;
            padding-left: var(--space-8);
            font-size: var(--font-size-12);
          }

          .clear-icon {
            cursor: pointer;
          }
        }
      }

      .query-sidebar-content {
        flex-grow: 1;
        overflow: auto;

        .query-sidebar-item {
          display: flex;
          align-items: center;
          gap: var(--space-8);
          margin-bottom: var(--space-16);
          cursor: pointer;

          .query-sidebar-item-label {
            font-size: var(--font-size-14);
            color: var(--pg-query-template-sidebar-item-txt-clr);
          }

          &:hover {
            text-decoration: underline;
            text-decoration-color: var(
              --pg-query-template-sidebar-item-txt-clr
            );
          }
        }
      }
    }
  }

  .query-category-container {
    flex-grow: 1;
    overflow: auto;
    padding: var(--space-32) 0;

    display: flex;
    flex-direction: column;

    .query-category {
      margin-bottom: var(--space-48);

      .query-category-title {
        font-size: var(--font-size-14);
        margin-bottom: var(--space-16);
      }

      .query-category-items {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-16);

        margin-left: var(--space-16);

        .query-item {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          border-radius: var(--radius-8);
          width: calc((100% / 3) - var(--space-32));
          max-width: calc((100% / 3) - var(--space-32));
          min-height: 130px;

          padding: var(--space-2);
          background-color: var(--pg-query-template-item-bg-clr);
          color: var(--pg-query-template-item-txt-clr);
          border: 1px solid var(--pg-query-template-item-border-clr);
        }

        .query-item:hover {
          border-color: var(--pg-query-template-item-hover-border-clr);
        }

        .query-item-label {
          padding: var(--space-12);
        }

        .query-item-description {
          flex-grow: 1;
          display: flex;
          // justify-content: center;
          align-items: center;

          padding: 0 var(--space-12) 0 var(--space-12);
        }
      }
    }

    .query-no-result {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-14);
    }
  }

  .pg-highlighted-text {
    background-color: var(--pg-query-template-highlighted-bg-clr);
    padding: 0 2px;
    border-radius: 2px;
  }
}
